<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="app">... app not render yet</div>
    <script type="module" src="/frontend.js"></script>
  </body>
</html>
